################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPatternsWithCSharp/GOFDesignPatterns/Abstract.AnimalWorld/obj/Debug
/DesignPatternsWithCSharp/GOFDesignPatterns/Abstract.AnimalWorld/ClassDiagram1.cd
/DesignPatternsWithCSharp/GOFDesignPatterns/Abstract.AnimalWorld/bin/Debug
/DesignPatternsWithCSharp/GOFDesignPatterns/Abstract.AnimalWorldConsumer/obj/Debug
/DesignPatternsWithCSharp/GOFDesignPatterns/Abstract.AnimalWorldConsumer/bin/Debug
/DesignPatternsWithCSharp/GOFDesignPatterns/Abstract.AnimalWorldTests/obj/Debug
/DesignPatternsWithCSharp/GOFDesignPatterns/Abstract.AnimalWorldV2/obj/Debug
/DesignPatternsWithCSharp/GOFDesignPatterns/Abstract.AnimalWorldV2/bin/Debug
/DesignPatternsWithCSharp/GOFDesignPatterns/Abstract.AnimalWorldV2Consumer/obj/Debug
/DesignPatternsWithCSharp/GOFDesignPatterns/Abstract.AnimalWorldV2Consumer/bin/Debug
/DesignPatternsWithCSharp/GOFDesignPatterns/Abstract.AnimalWorldV2Tests/obj/Debug
/DesignPatternsWithCSharp/GOFDesignPatterns/Abstract.AnimalWorldV2Tests/bin/Debug
/DesignPatternsWithCSharp/GOFDesignPatterns/Builder.BuildVehicles/obj/Debug
/DesignPatternsWithCSharp/GOFDesignPatterns/Builder.BuildVehicles/bin/Debug
/DesignPatternsWithCSharp/GOFDesignPatterns/Builder.BuildVehiclesConsumer/obj/Debug
/DesignPatternsWithCSharp/GOFDesignPatterns/Builder.BuildVehiclesConsumer/bin/Debug
/DesignPatternsWithCSharp/GOFDesignPatterns/Builder.BuildVehiclesTests/obj/Debug
/DesignPatternsWithCSharp/GOFDesignPatterns/Builder.BuildVehiclesTests/bin/Debug
/DesignPatternsWithCSharp/GOFDesignPatterns/Builder.BuildVehiclesV2/obj/Debug
/DesignPatternsWithCSharp/GOFDesignPatterns/Builder.BuildVehiclesV2/bin/Debug
/DesignPatternsWithCSharp/GOFDesignPatterns/Builder.BuildVehiclesV2Consumer/obj/Debug
/DesignPatternsWithCSharp/GOFDesignPatterns/Builder.BuildVehiclesV2Consumer/bin/Debug
/DesignPatternsWithCSharp/GOFDesignPatterns/Builder.BuildVehiclesV2Tests/obj/Debug
/DesignPatternsWithCSharp/GOFDesignPatterns/Builder.BuildVehiclesV2Tests/bin/Debug
/DesignPatternsWithCSharp/MongoDbDataStore/MongoDb.BuildVehicles.DataStore/obj/Debug
/DesignPatternsWithCSharp/MongoDbDataStore/MongoDb.BuildVehicles.DataStore/bin/Debug
/DesignPatternsWithCSharp/MongoDbDataStore/MongoDb.DataStore/obj/Debug
/DesignPatternsWithCSharp/MongoDbDataStore/MongoDb.DataStore/bin/Debug
/DesignPatternsWithCSharp/MongoDbDataStore/MongoDb.DataStore.Utilities/obj/Debug
/DesignPatternsWithCSharp/MongoDbDataStore/MongoDb.DataStore.Utilities/bin/Debug
/DesignPatternsWithCSharp/MongoDbDataStore/MongoDb.DataStore.UtilitiesTests/obj/Debug
/DesignPatternsWithCSharp/MongoDbDataStore/MongoDb.DataStore.UtilitiesTests/bin/Debug
/DesignPatternsWithCSharp/packages
/DesignPatternsWithCSharp/MongoDbDataStore/MongoDb.DataStoreTests/obj/Debug
/DesignPatternsWithCSharp/MongoDbDataStore/MongoDb.DataStoreTests/bin/Debug
